{% extends 'main/base.html' %}

{% block title %}Edit Project{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/main/css/input.css">
{% endblock %}

{% block script %}
<script src="/static/main/scripts/editProject.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

  <a href="/projects/listed">Back</a>

  <h1>Edit Project</h1>

  <form action="{% url 'updateProject' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="hidden" name="project" value="{{ project.id }}">

    <label for="title">Title</label>
    <input type="text" name="title" value="{{ project.title }}">

    <label for="description">Summary</label>
    <textarea name="description">{{ project.description }}</textarea>

    <label for="work">Work</label>
    <textarea name="work">{{ project.work }}</textarea>

    <label for="info">Info</label>
    <textarea name="info">{{ project.info }}</textarea>

    <div class="media">
      <label>Videos</label>
      <div class="videos">
        {% for media in project.media.all %}
          {% if media.type == "video" %}
            <div class="video">
              <video controls>
                <source src="/media/{{ media.url }}" type="video/mp4">
              </video>
              <div class="options">
                <a href="/media/{{ media.id }}/delete">delete</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <a class="add_video" href="#"><i class="material-icons">add</i></a>
      </div>
      <label>Photos</label>
      <div class="photos">
        {% for media in project.media.all %}
          {% if media.type == "image" %}
            <div class="image">
              <img src="/media/{{ media.url }}">
              <div class="options">
                <a href="/media/{{ media.id }}/delete">delete</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <a class="add_photo" href="#"><i class="material-icons">add</i></a>
      </div>
    </div>

    <input class="btn red" type="submit" value="Update">

  </form>

{% endblock %}
