{% extends 'main/base.html' %}

{% block title %}Create Project{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/main/css/input.css">
{% endblock %}

{% block script %}
<script src="/static/main/scripts/newProject.js" charset="utf-8"></script>
{% endblock %}

{% block content %}

  <h1>Add a Project</h1>

  <form action="{% url 'createProject' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="description">Summary</label>
    <textarea name="description"></textarea>

    <label for="work">Work</label>
    <textarea name="work"></textarea>

    <label for="info">Info</label>
    <textarea name="info"></textarea>

    <label for="video">Video</label>
    <input type="file" name="video">

    <label>Photos</label>
    <div class="photos">
      <a class="add_photo" href="#"><i class="material-icons">add</i></a>
    </div>

    <input class="btn red" type="submit" value="Create">

  </form>

{% endblock %}
