{% extends 'main/base.html' %}

{% block title %}Projects{% endblock %}

{% block style %}

  <link rel="stylesheet" href="static/main/css/projects.css">

{% endblock %}

{% block content %}

  <div>
    <a class="btn red" href="/projects/new">New Project</a>
    <a class="btn blue" href="/projects/listed">List</a>
  </div>

  <h2 class="center">Top Projects</h2>

  <div class="projects">

    {% for listing in projects %}
      {% if listing.visible %}
      <div class="project">
        <div class="title">
          {{ listing.project.title }}
        </div>
        <div class="content">
          {% for media in listing.project.media.all %}
            {% if media.type == "video" %}
            <video preload="none" controls>
              <source src="/media/{{ media.url }}" type="video/mp4"/>
              Unsupported.
            </video>
            {% endif %}
          {% endfor %}
          <div class="screenshots">
            {% for media in listing.project.media.all %}
              {% if media.type == "image" %}
                <img src="/media/{{ media.url }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="description">
            <span class="title">summary</span>
            <div>{{ listing.project.description }}</div>
            <span class="title">work</span>
            <div>{{ listing.project.work }}</div>
            <span class="title">info</span>
            <div>
              {{ listing.project.info }}
            </div>
          </div>
        </div>
        <!-- <div class="links">

        </div> -->
      </div>
      {% endif %}
    {% endfor %}

  </div>

{% endblock %}
