{% extends 'main/base.html' %}

{% block title %}Projects{% endblock %}

{% block style %}

  <link rel="stylesheet" href="static/main/css/projects.css">

  <style>
  {% for row in grid %}
    {% for listing in row %}
      {% for media in listing.project.media.all|slice:"1" %}
        {% if media.type == "image" %}
          .back-{{ listing.project.id }} {
            background: url("/media/{{ media.url }}") 50% 50%;
          } 
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  </style>

{% endblock %}

{% block content %}

  <div>
    <a class="btn red" href="/projects/new">New Project</a>
    <a class="btn blue" href="/projects/listed">List</a>
  </div>

  <h2 class="center">Top Projects</h2>

  <div class="projects">

    {% for row in grid %}
      <div class="row">
      {% for listing in row %}
        {% if listing.visible %}
          <div class="col s4">
            <div class="card black back-{{ listing.project.id }}">
              <div class="card-content">
                <span class="card-title">{{ listing.project.title }}</span>
                <label>Summary</label>
                <div>{{ listing.project.description|slice:"100" }}...</div>
                <label>Role</label>
                <div>{{ listing.project.role }}</div>
                <label>Technologies</label>
                <div class="technologies">
                  {% for technology in listing.project.technologies.all %}
                  <span class="tech">{{ technology.name }}</span>
                  {% endfor %}
                </div>
                {% if listing.project.period %}
                <div class="date">
                  <label>From</label>
                  <div>{{ listing.project.period.fromDate|date:"M, Y" }}</div>
                  <label>To</label>
                  <div>{{ listing.project.period.toDate|date:"M, Y" }}</div>
                </div>
                {% endif %}
              </div>
              <div class="card-action">
                <a href="/projects/{{ listing.project.id }}">Open</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

{% endblock %}
