
.projects {
  max-width: 900px;
  margin: auto;
  padding: 8px;
  margin-bottom: 64px;
}

.project {
  padding: 8px;
}

.project .title {
  text-align: center;
  font-size: 36px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.description .title {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 0;
  text-transform: uppercase;
}

.description .title:not(:first-of-type) {
  margin-top: 20px;
}

video {
  width: 100%;
}

img {
  width: 25%;
}

.content {
  width: 700px;
  margin: auto;
}

.video {
  border: 1px solid black;
  height: 360px;
  margin-bottom: 24px;
}

.screenshots {
  border: 1px solid black;
  height: 125px;
  margin-bottom: 24px;
}

.description {
  padding-bottom: 16px;
  text-align: justify;
  margin-bottom: 8px;
}

.links {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  margin-bottom: 24px;
}
